@using Dashboard.Models.Spotify
@using Dashboard.Models
@using Dashboard.Models.Widgets
@using Dashboard.Services
@using Dashboard.Shared.Widgets;
@inject SpotifyService SpotifyService
@inject SessionState SessionState
@inject AuthenticationStateProvider AuthStateProvider
@inject HttpClient HttpClient
@inject OAuthManagerService OAuthManager
@inject UpdateService UpdateService

<div id="widget">
    <img id="song-img" width="50" height="50" src="@(CurrentTrack == null ? "" : CurrentTrack?.Item.Album.Images[1].Url)" />
    <div id="song-data">
        <h1 id="song-name">@(CurrentTrack == null ? "No track" : CurrentTrack?.Item?.Name)</h1>
        <p id="artist-name">@(CurrentTrack == null ? "No artist" : CurrentTrack?.Item?.Artists[0].Name + ((bool)Widget.Settings["ShowAlbumName"] ? (" - " + CurrentTrack.Item.Album.Name) : ""))</p>
    </div>
    <img @onclick="@(async () => await OnPlayPauseButtonClick())" id="pause-btn" src="@(CurrentTrack == null ? "res/play.svg" : ((bool)(CurrentTrack.IsPlaying) ? "res/pause.svg" : "res/play.svg"))" width="20px" height="28px"/>
</div>

@code {
    [Parameter]
    public WidgetModel? Widget { get; set; }

    private CurrentlyPlayingTrack? CurrentTrack { get; set; } = null;

    private bool IsRefreshing = false;

    private async Task PopulateTrack()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();

        CurrentTrack = await SpotifyService.GetCurrentlyPlayingTrack(authState.User);
    }

    private async void OnRefreshTriggered()
    {
        if (!IsRefreshing)
            await this.InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (IsRefreshing)
            return;
        IsRefreshing = true;
        await PopulateTrack();
        await base.OnAfterRenderAsync(firstRender);
        IsRefreshing = false;
    }

    protected override async Task OnInitializedAsync()
    {
        await PopulateTrack();
        UpdateService.Subscribe(Widget!, OnRefreshTriggered);
        await base.OnInitializedAsync();
    }

    private async Task OnPlayPauseButtonClick()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();

        if (CurrentTrack == null)
            return;
        if ((bool)CurrentTrack.IsPlaying)
        {
            await SpotifyService.Pause(authState.User);
            CurrentTrack.IsPlaying = false;
        } 
        else
        {
            await SpotifyService.PlayOrResume(authState.User);
            CurrentTrack.IsPlaying = true;
        }     
        this.StateHasChanged();
    }
}
